html,body{
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
       width: 800px;
       margin: 0 auto;
   }
.control{
    margin-bottom: 20px;
}
.circle{
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
input[type="number"]{
    width: 60px;
}
.select{
    width: 60px;
    height: 20xp;
}